<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/loja.css') }}">
    <script src="{{ url_for('static', filename = 'js/script.js') }}" defer></script>
    <title>E-commerce Criado com Flask Python</title>
</head>
<body>
    <header id="header">
        <div class="flex">
            <img src="{{ url_for('static', filename = 'img/flask_logo.png') }}" alt="logo">

            <ul>
                <li><a href="/loja">Home</a></li>
                <li><a href="/loja">Loja</a></li>
                <li><a href="#">Contato</a></li>
                <li>
                    <a href="/carrinho">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                        </svg>
                    </a>
                </li>
            </ul>

            <div id="abrir-menu" class="estilo-botao">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </div><!--menu-->

            <div id="menu">
                <div id="fechar-menu" class="estilo-botao">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div><!--fechar-menu-->
                <div class="botoes-menu">
                    {% if username %}
                    <p><button><a href="/">Login</a></button></p>
                    <p><button><a href="/logout">Logout</a></button></p>
                    {% else %}
                    <h2 style="text-align: center; padding: 10px ;">Usuário não cadastrado</h2>
                    <p><button><a href="/registrar">Registrar</a></button></p>
                    <p><button><a href="/">Login</a></button></p>
                    {% endif %}
                </div>
            </div><!--menu-->
            <div class="tela-fundo"></div>
        </div><!--flex-->
    </header><!--header-->

    <section id="Carrinho">
        <h2>Carrinho de compras</h2>
        <div class="flex interface">
            {% for produto in carrinho %}
                <div class="produtos_carrinho">
                    <p>Produto: <span>{{produto[2]}}</span></p>
                    <p>Quantidade em estoque: <span>{{produto[3]}}</span></p>
                    <p>Preço: <span>R${{produto[4]}}</span></p>
                </div>
            {% endfor %}
        </div>
    </section>

    <footer class="rodapé">
        <p>Criado e Desenvolvimento por &copy; Daniel</p>
    </footer>
</body>
</html>