<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/loja.css') }}">
    <script src="{{ url_for('static', filename = 'js/script.js') }}" defer></script>
    <title>E-commerce Criado com Flask Python</title>
</head>

<body>
    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="msg-flash">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <header id="header">
        <div class="flex">
            <img src="{{ url_for('static', filename = 'img/flask_logo.png') }}" alt="logo">

            <ul>
                <li><a href="/loja">Home</a></li>
                <li><a href="/loja">Loja</a></li>
                <li><a href="#">Contato</a></li>
                <li>
                    <a href="/carrinho">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-bag" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                        </svg>
                    </a>
                </li>
            </ul>

            <div id="abrir-menu" class="estilo-botao">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                </svg>
            </div><!--menu-->

            <div id="menu">
                <div id="fechar-menu" class="estilo-botao">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>
                </div><!--fechar-menu-->
                <div class="botoes-menu">
                    {% if username %}
                    <p><button><a href="/">Login</a></button></p>
                    <p><button><a href="/logout">Logout</a></button></p>
                    {% else %}
                    <h2 style="text-align: center; padding: 10px ;">Usuário não cadastrado</h2>
                    <p><button><a href="/registrar">Registrar</a></button></p>
                    <p><button><a href="/">Login</a></button></p>
                    {% endif %}
                </div>
            </div><!--menu-->
            <div class="tela-fundo"></div>
        </div><!--flex-->
    </header><!--header-->

    <section id="Carrinho">
        {% if carrinho %}
        <h2>Carrinho de compras</h2>
        <div class="flex interface">
            {% for produto in carrinho %}
            <div class="produtos_carrinho">
                <p>Produto: <span>{{produto[0]}}</span></p>
                <p id="quantidade">Quantidade: <span>{{produto[1]}}</span></p>
                <p>Preço: <span>R${{produto[2]}}</span></p>
                <div class="caixa-btns">
                    <form action="/#" method="post">
                        <input type="hidden" name="produto_id" value="{{produto[3]}}">
                        <button class="btns editar"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                <path
                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                            </svg></button>
                    </form>
                    <form action="/excluir" method="post">
                        <input type="hidden" name="produto_id" value="{{produto[3]}}">
                        <button class="btns excluir"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
                                <path
                                    d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z" />
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg></button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h2 style="margin-bottom: 40px;">Carrinho Vazio</h2>
        {% endif %}
    </section>

    <footer class="rodapé">
        <p>Criado e Desenvolvimento por &copy; Daniel</p>
    </footer>
</body>

</html>