<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/loja.css') }}">
    <script src="{{ url_for('static', filename = 'js/script.js') }}" defer></script>
    <title>E-commerce Criado com Flask Python</title>
</head>
<body>

    <header id="header">
        <div class="flex">
            <img src="{{ url_for('static', filename = 'img/flask_logo.png') }}" alt="logo">

            <ul>
                <li>Home</li>
                <li>Loja</li>
                <li>Contato</li>
            </ul>

            <div id="abrir-menu" class="estilo-botao">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </div><!--menu-->

            <div id="menu">
                <div id="fechar-menu" class="estilo-botao">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div><!--fechar-menu-->
                <div class="botoes-menu">
                    <p><button><a href="/">Login</a></button></p>
                    <p><button><a href="/registrar">Registrar</a></button></p>
                    <p><button><a href="/logout">Logout</a></button></p>
                </div>
            </div><!--menu-->
            <div class="tela-fundo"></div>
        </div><!--flex-->
    </header><!--header-->
    
    <!--
    Quando for usar puxar a variável do back usa {{ username }}
    -->
    
    <section id="topo-do-site">
        <div class="flex interface">
                <img src="{{ url_for('static', filename = 'img/caixa_de_som(echo).webp') }}" alt="">

            <div class="topo-txt">
                <p><span>Desconto especial</span></p>
                <h1 id="title">Echo Pop</h1>
                <h1>depois de 20% de desconto</h1>
                <button>Comprar</button>
            </div><!--caixa-itens-txt-->
        </div><!--flex interface-->
    </section><!--topo-do-site-->

    <section id="itens">
        <div class="flex interface">
            {% for produto in produtos %}
            <div class="caixa-item">
                <img src="{{ url_for('static', filename =produto[4]) }}" alt="">
                <h3>{{ produto[1] }}</h3>
                <p>{{ produto[3] }}</p>
                <button>Comprar</button>
            </div>
            {% endfor %}
        </div>
    </section>

    <footer class="rodapé">
        <p>E-commerce Criado e Desenvolvimento por &copy; Daniel </p>
    </footer>
</body>
</html>