/*Flash*/
.msg-flash {
    background-color: #3f3f3f;
    padding: 20px;
    & p {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        color: white;
    }
}
/* Gerais */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial;
}

.flex {
    display: flex;
}
.interface {
    max-width: 1280px;
    padding: 40px;
}

button {
    margin-top: 10px;
    cursor: pointer;
    width: 110px;
    height: 30xp;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    background-color: yellow;
    font-size: 18px;
    font-weight: 700;
    transition: .5s;
    &:hover {
        transform: scale(1.06);
    }
}
/* Header */
header {
    padding: 10px;
    & .flex {
    justify-content: space-around;
    }
    & img {
        width: 100px;
    }
    & ul {
        margin-top: 50px;

        & li {
            display: inline-block;
            cursor: pointer;
            font-size: 18px;
            font-weight: 600;
            padding: 10px;
            border-radius: 5px;
            transition: .5s;

            &:hover {
                transform: scale(1.06);
                color: red;
                font-weight: 700;
                border-bottom: 2px solid red;
            }
            & a {
                padding: 20px;
                text-decoration: none;
                color: black;
                &:hover {
                    color: red;
                }
            }
        }
    }
}
/* menu */
.estilo-botao {
    margin-top: 50px;
    padding: 8px;
    background-color: yellow;
    border-radius: 10px;
    cursor: pointer;
}
div#menu {
    background: linear-gradient(to bottom, #3f3f3f, #ff0000);
    position: fixed;  
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 0%;
    overflow: hidden;
    transition: 0.3s;
    & .estilo-botao {
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }
    & .botoes-menu {
        display: flex;
        flex-direction: column;
        text-align: right;
        & button {
            margin-top: 20px;
            margin-right: 40px;
            & a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

div#menu.menu-JS  {
    width: 70%;
}

div#menu.menu-JS ~ .tela-fundo {
    display: block;
}

.tela-fundo {
    background-color: #000000b7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* Seção topo do site */
section#topo-do-site {
    & .interface {
        background: linear-gradient(to right, #232526, #414345);
        border-radius: 20px;
        justify-content: center;
        text-align: center;
        margin: 20px auto;
        gap: 100px;

        & img {
            width: 300px;
        }
        & .topo-txt {
            margin-top: 50px;
            color: white;
            & span {
                color: yellow;
                font-weight: 500;
            }
            & h1#title {
                color:#ffffff8d;
            }
        }
    }
}

/* itens */

section#itens {
    & .flex {
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        margin: 0 auto;
        gap: 30px;
        
        & .caixa-item {
            width: 400px;
            justify-items: center;
            background: linear-gradient(#3f3f3f, red);
            border-radius: 15px;
            padding: 15px;
            }
            & img {
                width: 250px;
                transition: .5s;
                &:hover {
                    transform: scale(1.10);
                }
            }
            & h3 {
                font-size: 22px;
                font-weight: 600;
            }
            & p {
                font-size: 20px;
                color: white;
                text-shadow: -1px -2px black;
                font-weight: 600;
            }
            & .carrinho {
                display: block;
                width: 160px;
            }
        }
    }

/* Rodapé */
.rodapé {
    text-align: center;
    background-color: black;
    padding: 15px 0;
    margin-bottom: 20px;
    & p {
        font-size: 16px;
        font-weight: 600;
        color: white;
    }
}

/* Página do carrinho de compras*/
section#Carrinho {
    margin-top: 40px;
    & h2 {
        text-align: center;
    }
    & .flex {
        flex-wrap: wrap;
    }
    & .produtos_carrinho {
        padding: 10px;
        border-radius: 10px;
        & p {
            background-color: #3f3f3f;
            color: white;
            border-radius: 10px;
            padding: 10px;
            margin: 5px 0px;
            font-size: 16px;
            font-weight: 600;
            & span {
                color: yellow;
                font-weight: 700;
            }
        }
    }
}

